@model HRPortal.Models.Resume

@{
    ViewBag.Title = "Index";
}

<h2>Apply</h2>

@Html.BeginForm("AddResume", "Apply",FormMethod.Post)
{

<div>
    <p>
        <label>First Name:</label>
        @Html.TextBoxFor(m => m.FirstName)
    </p>

    <p>
        <label>Last Name:</label>
        @Html.TextBoxFor(m => m.LastName)
    </p>

    <p>
        @Html.Label("Email")
        @Html.TextBoxFor(m => m.Email)
    </p>

    <p>
        @Html.Label("Phone Number")
        @Html.TextBoxFor(m => m.PhoneNumber)
    </p>
    <p>
        @Html.Label("Desired Position")
        @Html.TextBoxFor(m => m.Position)
    </p>

    <p>
        @Html.Label("Desired Salary")
        @Html.TextBoxFor(m => m.DesiredSalary)
    </p>
</div>

<div>
    <p>----------------------------------------------</p>
    <p>
    @Html.Label("Employment History")
    <br/>
    <br/>
    <div>
        @Html.Label("Company Name:")
        <br/>
        @Html.TextBoxFor(m => m.EmploymentHistory[0].CompanyName)
        <br/><br/>

        @Html.Label("Position:")
        <br/>
        @Html.TextBoxFor(m => m.EmploymentHistory[0].Position)
        <br/><br/>

        @Html.Label("Years of Employment:")
        <br/>
        @Html.TextBoxFor(m => m.EmploymentHistory[0].YearsOfEmployment)
        <br/><br/>

        @Html.Label("Job Description:")
        <br/>
        @Html.TextAreaFor(m => m.EmploymentHistory[0].JobDescription)
        <br/><br/>
    </div>
    <div>
        @Html.Label("Company Name:")
        <br/>
        @Html.TextBoxFor(m => m.EmploymentHistory[0].CompanyName)
        <br/><br/>

        @Html.Label("Position:")
        <br/>
        @Html.TextBoxFor(m => m.EmploymentHistory[0].Position)
        <br/><br/>

        @Html.Label("Years of Employment:")
        <br/>
        @Html.TextBoxFor(m => m.EmploymentHistory[0].YearsOfEmployment)
        <br/><br/>

        @Html.Label("Job Description:")
        <br/>
        @Html.TextAreaFor(m => m.EmploymentHistory[0].JobDescription)
        <br/><br/>
    </div>
    <div>
        @Html.Label("Company Name:")
        <br/>
        @Html.TextBoxFor(m => m.EmploymentHistory[0].CompanyName)
        <br/><br/>

        @Html.Label("Position:")
        <br/>
        @Html.TextBoxFor(m => m.EmploymentHistory[0].Position)
        <br/><br/>

        @Html.Label("Years of Employment:")
        <br/>
        @Html.TextBoxFor(m => m.EmploymentHistory[0].YearsOfEmployment)
        <br/><br/>

        @Html.Label("Job Description:")
        <br/>
        @Html.TextAreaFor(m => m.EmploymentHistory[0].JobDescription)
        <br/><br/>
    </div>
</div>
<div>
    <p>----------------------------------------------</p>
    <p>
        @Html.Label("Education History")
        <br />
        <br />
    <table>
        <thead>
        </thead>
        <tbody>

            @for (int i = 0; i < 3; i++)
            {
                <tr>
                    @Html.Label("Name:")
                    @Html.TextBoxFor(m => m.EmploymentHistory[i].CompanyName)

                    @Html.Label("Type:")
                    @Html.TextBoxFor(m => m.EmploymentHistory[i].Position)

                    @Html.Label("Description:")
                    @Html.TextBoxFor(m => m.EmploymentHistory[i].YearsOfEmployment)
                </tr>
            }
        </tbody>
    </table>
</div>

<button class="btn btn-primary">Submit</button>
}

