@model HRPortal.Models.Resume

@{
    ViewBag.Title = "Index";
}

<h2>Application</h2>

@using (Html.BeginForm("AddResume", "Apply", FormMethod.Post))
{

    <div class="contactInfo">
        <div>
            
                <p class="heading">Contact Information</p>
        
        </div>
        <div class="ContactField">
            <p>
                <label>First Name:</label>
                @Html.TextBoxFor(m => m.FirstName)
            </p>
        </div>
        <div class ="ContactField">
            <p>
                <label>Last Name:</label>
                @Html.TextBoxFor(m => m.LastName)
            </p>
        </div>
        <div class="ContactField">
            <p>
                <label>Email:</label>
                @Html.TextBoxFor(m => m.Email)
            </p>
        </div>
        <div class="contactField">
            <p>
                <label>Phone Number:</label>
                @Html.TextBoxFor(m => m.PhoneNumber)
            </p>
        </div>
    </div>


    <div class="jobInfo">
        <p class="heading">Job Applying For:</p>
        <div class="jobField">
            <p>
                <label>Desired Position:</label>
                @Html.TextBoxFor(m => m.Position)
            </p>
            </div>
        <div class="jobField">
            <p>
                <label>Desired Salary:</label>
                @Html.TextBoxFor(m => m.DesiredSalary)
            </p>
            </div>
    </div>

    <div>
        <p>----------------------------------------------------------</p>
        <p>
            @Html.Label("Employment History:")
            <br />
            <br />
            <div>
                @Html.Label("Company Name:")
                <br />
                @Html.TextBoxFor(m => m.EmploymentHistory[0].CompanyName)
                <br /><br />

                @Html.Label("Position:")
                <br />
                @Html.TextBoxFor(m => m.EmploymentHistory[0].Position)
                <br /><br />

                @Html.Label("Years of Employment:")
                <br />
                @Html.TextBoxFor(m => m.EmploymentHistory[0].YearsOfEmployment)
                <br /><br />

                @Html.Label("Job Description:")
                <br />
                @Html.TextAreaFor(m => m.EmploymentHistory[0].JobDescription)
                <br /><br />
            </div>
            <div>
                @Html.Label("Company Name:")
                <br />
                @Html.TextBoxFor(m => m.EmploymentHistory[0].CompanyName)
                <br /><br />

                @Html.Label("Position:")
                <br />
                @Html.TextBoxFor(m => m.EmploymentHistory[0].Position)
                <br /><br />

                @Html.Label("Years of Employment:")
                <br />
                @Html.TextBoxFor(m => m.EmploymentHistory[0].YearsOfEmployment)
                <br /><br />

                @Html.Label("Job Description:")
                <br />
                @Html.TextAreaFor(m => m.EmploymentHistory[0].JobDescription)
                <br /><br />
            </div>
            <div>
                @Html.Label("Company Name:")
                <br />
                @Html.TextBoxFor(m => m.EmploymentHistory[0].CompanyName)
                <br /><br />

                @Html.Label("Position:")
                <br />
                @Html.TextBoxFor(m => m.EmploymentHistory[0].Position)
                <br /><br />

                @Html.Label("Years of Employment:")
                <br />
                @Html.TextBoxFor(m => m.EmploymentHistory[0].YearsOfEmployment)
                <br /><br />

                @Html.Label("Job Description:")
                <br />
                @Html.TextAreaFor(m => m.EmploymentHistory[0].JobDescription)
                <br /><br />
            </div>
    </div>
    <div>
        <p>----------------------------------------------</p>
        <p>
            @Html.Label("Education History:")
            <br />
            <br />
            <table>
                <thead>
                </thead>
                <tbody>

                    @for (int i = 0; i < Model.EducationHistory.Count; i++)
                    {
                        <tr>

                            @Html.Label("Name:")
                            @Html.TextBoxFor(m => m.EducationHistory[i].Name)

                            @Html.Label("Type:")
                            @Html.TextBoxFor(m => m.EducationHistory[i].Type)

                            @Html.Label("Description:")
                            @Html.TextBoxFor(m => m.EducationHistory[i].Description)
                        </tr>
                    }
                    <tr>

                        @Html.Label("Name:")
                        @Html.TextBoxFor(m => m.AddedEducationHistory.Name)

                        @Html.Label("Type:")
                        @Html.TextBoxFor(m => m.AddedEducationHistory.Type)

                        @Html.Label("Description:")
                        @Html.TextBoxFor(m => m.AddedEducationHistory.Description)
                    </tr>

                </tbody>
            </table>
    </div>

    <button class="btn btn-primary">Submit</button>
}

