@model HRPortal.Models.Resume

@{
    ViewBag.Title = "ViewResume";
}

<h2>@Model.FirstName @Model.LastName</h2>

<p>
    @Html.Label("Date of Application")
    @Html.DisplayFor(m => m.DateOfApplication)
</p>
<p></p>

<div>
    <p class="heading">Contact Information: </p>
</div>

<div class="contactInfo">

    <div class="tableRow">
        <p>
            @Html.Label("Email")
            @Html.DisplayFor(m => m.Email)
        </p>

        <p>
            @Html.Label("Phone Number")
            @Html.DisplayFor(m => m.PhoneNumber)
        </p>
    </div>
</div>

<p>--------------------------------------------------------------------------------------------------------------------</p><br/>

<div>
    <p class="heading">Desired Job: </p>
</div>


<div class="contactInfo">
    <div class="tableRow">
        <p>
            @Html.Label("Desired Position")
            @Html.DisplayFor(m => m.Position)
        </p>

        <p>
            @Html.Label("Desired Salary")
            @Html.DisplayFor(m => m.DesiredSalary)
        </p>
    </div>
</div>

    <div>
        <p>--------------------------------------------------------------------------------------------------------------------</p><br />
        <p>
            @Html.Label("Employment History")
            <br />
            <br />

            @foreach (var p in Model.EmploymentHistory)
            {

                @Html.Label("Company Name: ")
                @p.CompanyName              
                <br />

                @Html.Label("Position:")
                @p.Position
                <br />

                @Html.Label("Years of Employment:")
                @p.YearsOfEmployment.ToString()
                <br />

                @Html.Label("Job Description:")
                @p.JobDescription
                <br /><br /><br/>

            }
        </p>
    </div>

    <div>
        <p>--------------------------------------------------------------------------------------------------------------------</p><br />
        <p>
            @Html.Label("Education History")
            <br /> <br />
            @foreach (var e in Model.EducationHistory)
            {

                @Html.Label("Name:")
                @e.Name
                <br />

                @Html.Label("Program Type:")
                @e.Type
                <br />

                @Html.Label("Program Description:")
                @e.Description
                <br /><br /><br />
            }
        </p>

    </div>

