@using System.Web.UI.WebControls
@model HRPortal.Models.Policy

@{
    ViewBag.Title = "ViewPolicy";
}

<h2>Policy</h2>

<body>
    <div>
      
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Catgeory</th>
                        <th>Name</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@Html.DisplayFor(m => m.Category)</td>
                        <td>@Html.DisplayFor(m => m.Name)</td>
                        <td>@Html.DisplayFor(m => m.Description)</td>

                    </tr>
                </tbody>
            </table>
      
    </div>

</body>


@*<label>Category:</label>
<br />
@Html.DisplayFor(m => m.Category)
<br/>
<br />
<label>Name:</label>
<br />
@Html.DisplayFor(m => m.Name)
<br/>
<br />
<label>Description:</label>
<br />
@Html.DisplayFor(m => m.Description)*@
